/log/
/lib/
/www/
/res/
/data/
/opt/data*
/lean/
/opt/
/config/
/coverage
/node_modules
/tradingview/
/tradis/
/antifreeze/
/tradis_dashboard/
*_local.*
*.sqlite3*
reload
*.bak

# tmp data
/front/*.csv
/src/*.csv
/src/history/*.jsonl

# File system caches
.DS_Store
._*

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE system files
.idea
.vscode
*.sublime-workspace
*.sublime-project

# Deploy
.env
.venv
/builds
/cache

# Temporary files
*.py[oc]
*~

# front
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/front/node_modules/
/front/dist/
/front/build/
/front/.npm/
/tmp/
/src/front/static/

# local config
/src/*.yaml
/new/tv/data/
/new/poly_*/
/jup/
/ann/
/alpaca/
/meta/
/new/
/tv/
/gogo/
/docker/

session_*.json
ocra_*.json
